.container-livro {
  display: grid;
  grid-template-columns: 1fr;
}
.container-livro span {
  margin-top: 100px;
  justify-self: center;
  display: flex;
  align-items: center;
}
.container-livro span::after {
  content: "";
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(#ff0000, #d60000);

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-left: 30px;
}
.container-livro span::before {
  content: "";
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(#ff0000, #d60000);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-right: 30px;
}
.ongs {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.ongs a {
  text-align: center;
  grid-column: 2;
  background: linear-gradient(#ff1a1a, #a80000);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 30px 50px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}
/*================================================================================*/
.escolha-ed {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.escolha-ed img {
  background-color: black;
  border-radius: 0px 5px 0px 0px;
  padding: 20px 20px;
  height: 310px;
  width: 550px;
}

.escolha-ed p {
  color: black;
  font-size: 30px;
  text-align: left;
  padding: 50px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
/*================================================================================*/
.sobre h1 {
  display: flex;
  grid-column: 1/-1;
  font-size: 60px;
  text-align: center;
  padding: 50px 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}
.sobre p {
  display: flex;
  grid-column: 1;
  font-size: 25px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.sobre img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.sobre-bg {
  background-color: black;
  box-shadow: inset 0 -120px white;
  color: white;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.sobre-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
